<div class="contents row">
  <p class = "onamae"><%= @nickname %>さんの投稿一覧</p>
  <% @articles.each do |article| %>
    <%= render partial: "articles/article", locals: { article: article } %>
  <% end %>
</div>