@charset "UTF-8";

audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button,
input,
select,
textarea {
  resize: none;
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}


/*
 * Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  *zoom: 1;
}

.row .grid-6 {
  float: left;
  margin-left: 0.9%;
  margin-right: 0.9%;
}


.row .grid-6 {
  width: 48.2%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse>.column,
.row.collapse>.columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

@media only screen and (max-width: 40em) {

  .row {
    width: 100%;
    padding: 0 20px !important;
  }

  .row .grid-6 {
    float: none;
    width: 100% !important;
    margin: 0 !important;
    position: static !important;
  }
}


/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
body,
html {
  height: 100%;
  background-color: #f5f5f3;
  width: 100vw;
}

body {
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin-top: 19px;
  width: 90%;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #57C3E9;
}

.bold {
  font-weight: bold;
}

.serif,
div.contents.row div.content_post p {
  font-family: 'ほのか明朝', serif;
}

/* .ultra {
  font-size: 2em !important;
} */

::selection {
  background: #D8D8D8;
}


.btn,
header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}
/* 投稿ボタンの上にマウスを乗せた時に適応 */
.btn:hover,
header.header div.header__bar.row div.grid-6 a.post:hover {
  border-color: #9bdbf2;
  color: #9bdbf2;
}

.title {
  font-weight: bold;
}

.title--big {
  font-size: 1.5em;
  font-weight: bold;
}

.title--big i {
  font-style: italic;
  font-size: 1.8em;
}

/* ユーザー登録画面のヘッダーの部分 */
header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #55c500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 50px;
}

header.header div.header__bar.row {

  height: 90%;
  width: 90%;
  background-color: skyblue;

}

 /* qiitaの部分の親要素 */
header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
}
/* qiitaの部分 */
header.header div.header__bar.row h1.grid-6 a {
  height: 100%;
  width: 100%;
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 110px;
  display: inline-left;
  margin-left: 10px;
  box-sizing: border-box;
}

header.header .user_nav {
  position: relative;
  height: 70px;
  right: 0;
}

header.header .user_nav span {
  top: 1px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}
/* ユーザー名の上にマウスを重ねると「マイページ」と「ログアウト」が表示される*/
header.header .user_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

header.header .user_nav ul li {
  background-color: #f0f0f0;
}

header.header .user_nav ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
}

.form .contents {
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
}

.form footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

div.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
}

div.contents.row h2 strong {
  font-weight: bold;
  padding-right: 5px;
  font-size: 1.2em;
}

div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}

.content_post {
  border-top: 2px;
  color: #021218;
  border-top: 1px solid;
  margin: 0px;
  padding: 0px;
}
.onamae {
  margin: 50px;
  background-color: #4ea30a;
  position: relative;
  left: -47px;
}


form input,
form textarea {
  width: 95%;
  margin: 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
/* 検索ボタンの色とか */
form input[type="submit"] {
  color: #fff;
  background-color: #59bb0c;
  border-color: #4ea30a;
  border-radius: 3px;
  font-size: 14px;
}
/* 検索ボタンに重なった時の色 */
form input[type="submit"]:hover {
  background-color: #021218;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.comments {
  padding: 5px;
  margin-top: 15px;
}

.comments a {
  color: #57C3E9;
}

.comments a:hover {
  text-decoration: underline;
}

footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}
/* 検索フォームのスタイル */
.search-form {
  height: 100px;
  text-align: center;
  padding-top: 32px;
}

.search-form .search-input {
  width: 50%;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 10%;
}

.title_1 {
  font-size: 30px;
}

.preview {
  display: flex;
  width: 100%;
  background-color: skyblue;
}

.preview-1 {
  width: 45vw;
}


.toukou {
  width: 40vw;
}

.container_new {
  width: 100%;
}